* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}

html {
    background-color: rgba(30, 30, 30, 1);
    color: #fff;
}

.wrapper {
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 48px;
    }
    input {
        margin-top: 15px;
        width: 50%;
        border-bottom: 5px solid #838383;
        border-top: none;
        border-right: none;
        border-left: none;
        height: 50px;
        background: transparent;
        font-size: 24px;
        color: #fff;
        &:focus,
        &:active {
            outline: none;
        }
    }
}
