.rated {
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;
    &__items {
        margin: 6px;
        opacity: 0.25;
        img {
            border-radius: 25px;
        }
    }
    &__blur {
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 250px;
        background: rgb(26, 26, 26);
        background: linear-gradient(0deg, rgba(26, 26, 26, 1) 19%, rgba(26, 26, 26, 0) 100%);
    }
}
